*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    color:saddlebrown;
    font-family: monospaces;
    text-shadow: 1px 2px 2px snow;
}
p {
    color:rgb(153, 114, 114);
    font-family: cursive;
    font-size: 30px;
}
h2 {
    color:rgba(1, 52, 128, 0.8);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
*::selection{
    background-color: white;
}

a{
    color: tomato;
}
.blink{
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.fix{
    position: fixed;
    
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section.left,section.right,section.center{
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section.right{
    background-color: rgb(127, 246, 255);
    display: flex;
    flex-direction: column;
    align-items:center;
    flex:1 1 250px;
}
section.left{
    background-color:rgba(246, 177, 255, 0.753);
    display: flex;
    flex-direction: column;
    flex:1 1 250px;
}
section.center{
    background-color:rgba(250, 230, 194, 0.753);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1 1 250px;
}

